body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas#drawCanvas{
	margin: 5 10px;
	background-color: #FFE;
	border: 1px dotted #DDD;
}